@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: Helvetica, Arial, sans-serif;

// Use existing variables from Bootstrap as much as possible! Don't set your own colors/measurements unless necessary.

.panel-heading.top-border {
	border-top: 1px solid @panel-inner-border;
}